.content {
  padding: 1em 0;
}

.color {
  display: flex;
  align-items: center;
  gap: .25em;
}

.backlight {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 95px;
  height: 68px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.backlight.on {
  opacity: .5;
}