.main {
  padding: 1em 5em;
}

.title {
  display: flex;
  align-items: center;
  gap: .5em;
}

.titleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin-top: 0.125em;
}

.loading {
  text-align: center;
  width: 100%;
  padding: 1em;
}