.header {
  display: flex;
  align-items: center;
  padding: 1em 5em; 
  width: 100%;
  background-color: beige;
}

.icon {
  font-size: 2em;
  margin-right: .25em;
}

.disconnect {
  margin-right: .5em;
  font-size: 1.5em;
  color: rgb(125, 54, 54);
  opacity: 0;
  transition: opacity .2s linear;
}

.disconnect.on {
  opacity: 1;
}